@import "../../App.scss";

.Programs {
  width: 100vw;
  padding: 20px 40px 0px 40px;
  @include mobile {
    padding: 10px 20px 10px 20px;
    height: unset;
    margin-top: 28em;
  }
}

.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 1.5em;
  @include mobile {
    font-size: 25px;
  }
  h2 {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    span {
      color: white;
      margin-left: 1.5em;
      margin-right: 1.5em;
    }
  }
}

.boxes {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  @include mobile {
    flex-direction: column;
  }
  div {
    background: var(--caloryCard);
    height: 40vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mobile {
      height: 35vh;
    }
    img {
      width: 15%;
    }
    button {
      width: 60%;
      text-align: start;
      padding: 0;
      background: transparent;
      border: none;
      img {
        width: 10%;
        margin-left: 2em;
      }
    }
  }
}
